<%- include('../shared/partials/head', { pageTitle: 'Elections' }) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/voter.css">
</head>
<body>
  <main>

  </main>
<%- include('../shared/partials/footer') %>