<%- include('../shared/partials/head', { pageTitle: 'E-Vote' }) %>
</head>
<body>
  <main>
    <h1>All Candidates</h1>
    <p>A list of all candidates...</p>
  </main>
<%- include('../shared/partials/footer') %>
