#candidates-grid {
  margin: var(--space-8) auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: var(--space-4);
}

.candidate-item{
  border-radius: var(--border-radius-medium);
  text-align: center;
  background-color: var(--color-gray-600);
  overflow: hidden;
}

.candidate-item img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}


.candidate-item-content {
  padding: var(--space-4);
}

.candidate-item-content h2 {
  font-size: 1.15rem;
  margin: var(--space-2) 0;
}

.candidate-item-content h3 {
  font-size: 1rem;
  margin: var(--space-2) 0;
}

.candidate-item-content p {
  font-size: 0.95rem;
  margin: var(--space-2) 0;
}

.candidate-item-actions {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  margin-top: var(--space-4);
  justify-content: center;
}

form hr {
  border-color: var(--color-primary-200);
  margin: var(--space-4);
}

#candidate-details header {
  margin-top: var(--space-8);
  padding: var(--space-8);
  background-color: var(--color-gray-600);
  gap: var(--space-8);
}

#candidate-details img {
  width: 100%;
  height: 6rem;
  object-fit: cover;
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--color-gray-100);
}

#candidate-info {
  text-align: center;
}

#candidate-description {
  background-color: var(--color-primary-500-bg);
  padding: var(--space-8);
  white-space: pre-wrap;
}

@media (min-width: 48rem) {
  #candidate-details header {
    display: flex;
  }

  #candidate-details img {
    width: 20rem;
    height: 15rem;
    margin: var(--space-8);
  }

  #candidate-info {
    text-align: left;
  }
}