<header>
  <div><a href="/">E-Vote</a></div>
  <nav>
    <ul>
      <% if (locals.isAuth) {%>
      <li>
        <form action="/api/voter/logout" method="post">
          <button>Logout</button>
        </form>
      </li>
      <% } %>
    </ul>
  </nav>
</header>