<div class="progress-container">
  <div class="progress-bar">
      <div class="progress-fill" id="progressFill">
          <span class="progress-text" id="progressText">0%</span>
      </div>
  </div>
</div>
